# IntelliJ IDEA
.idea/
*.iml

# Maven
target/

# Logs
*.log

# System
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# Secrets / Credentials
*.env
*.key
*.pem
*.p12
*.jks
*.crt
*.cert
*.secret
*.token
*.credentials
*.config
*.properties.localgit add .gitignore
                  git commit -m "Обновлён .gitignore: защита от супер секретов"
                  git push
